body {
    background-color: #e6eff6;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    height: 100vh;
    position: fixed;
}

.btn:hover {
    background-color: #4aaaf4;
    box-shadow: -1px 5px 5px #5553;
    border: none;
    color: #fff;
}

.col:hover {
    box-shadow: -2px 2px 5px #5555;
}